<link rel="stylesheet" href="{{asset('css/serp_produit/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-produit'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-produit" formnovalidate>Créer nouveau produit</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_produit/form_nouveau.script.js')}}"></script>
<script>
  let route_post_produit = '{{ path("cree_produit") }}';
</script>