<link rel="stylesheet" href="{{asset('css/serp_produit/form_edition.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-edition-produit'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-edition-produit" formnovalidate>Modifier un produit</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_produit/form_edition.script.js')}}"></script>
<script>
  let route_post_edite_produit = '{{ path("edite_produit") }}';
</script>