<link rel="stylesheet" href="{{asset('css/serp_intervenant/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-intervenant'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-intervenant" formnovalidate>Créer nouvel intervenant</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_intervenant/form_nouveau.script.js')}}"></script>
<script>
  let route_post_intervenant = '{{ path("cree_intervenant") }}';
</script>