
<link rel="stylesheet" href="{{asset('css/serp_client/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-client'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-client" formnovalidate>Créer nouveau client</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_client/form_nouveau.script.js')}}"></script>
<script>
  let route_post_client = '{{ path("cree_client") }}';
</script>

