<link rel="stylesheet" href="{{asset('css/serp_historique_production/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-historique'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-historique" formnovalidate>Créer nouvel historique</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_historique_production/form_nouveau.script.js')}}"></script>
<script>
  let route_post_historique = '{{ path("cree_historique") }}';
</script>