<link rel="stylesheet" href="{{asset('css/serp_matiere/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-matiere'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-matiere" formnovalidate>Créer nouvelle matiere</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_matiere/form_nouveau.script.js')}}"></script>
<script>
  let route_post_matiere = '{{ path("cree_matiere") }}';
</script>