
<link rel="stylesheet" href="{{asset('css/serp_of/form_nouveau.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-cree-of'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-cree-of" formnovalidate>Créer nouvel ordre de fabrication</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_of/form_nouveau.script.js')}}"></script>
<script>
  let route_post_of = '{{ path("cree_of") }}';
</script>

