<link rel="stylesheet" href="{{asset('css/serp_of/form_edition.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-edition-of'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-edition-of" formnovalidate>Modifier un ordre de fabrication</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_of/form_edition.script.js')}}"></script>
<script>
  let route_post_edite_of = '{{ path("edite_of") }}';
</script>