<link rel="stylesheet" href="{{asset('css/serp_intervention/form_edition.style.css')}}">

<div class="container form-control">
  {{ form_start(form, {name: 'form-edition-intervention'}) }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="btn-edition-intervention" formnovalidate>Modifier une intervention</button>
  {{ form_end(form) }}
</div>

<script src="{{ asset('toastr/toastr.js') }}"></script>
<script src="{{asset('js/serp_intervention/form_edition.script.js')}}"></script>
<script>
  let route_post_edite_intervention = '{{ path("edite_intervention") }}';
</script>